extends layout

block content
      #titlebar
        .container
          .row
            .col-md-12
              h2 Change Password
              // Breadcrumbs
              nav#breadcrumbs
                ul
                  li
                    a(href='#') Home
                  li Change Password
      .container
        .row
          .col-md-4
            .sidebar.left
              .my-account-nav-container
                ul.my-account-nav
                  li.sub-nav-title Manage Account
                  li
                    a(href='/my-profile')
                      i.sl.sl-icon-user
                      |  My Profile
                ul.my-account-nav
                  li.sub-nav-title Manage Listings
                  li
                    a(href='/my-properties')
                      i.sl.sl-icon-docs
                      |  My Properties
                  li
                    a(href='/submit-property')
                      i.sl.sl-icon-action-redo
                      |  Submit New Property
                ul.my-account-nav
                  li
                    a.current(href='/change-password')
                      i.sl.sl-icon-lock
                      |  Change Password
                  li
                    a(href='#')
                      i.sl.sl-icon-power
                      |  Log Out
          .col-md-8
            .row
              .col-md-6.my-profile
                h4.margin-top-0.margin-bottom-30 Change Password
                label Current Password:
                br
                input(type='password')
                br
                label New Password:
                br
                input(type='password')
                br
                label Confirm New Password
                br
                input(type='password')
                br
                a.margin-top-20.button(href='submit-property.html') Save Changes
              .col-md-6
                .notification.notice
                  p Your password should be at least 12 random characters long to be safe