extends layout

block content
 .container(ng-app='mypropertysubmit', ng-controller='submitCtrl')
        form.form-horizontal(ng-submit='submit_form()', action='/api/', method='post')
          h3 Basic Information
          hr
          .form-group
            label.control-label.col-sm-2(for='t_o_p') Type of Property*
            .col-sm-10
              select#t_o_p.form-control(ng-model='type', required='required')
                option Open
                option Closed
          .form-group
            label.control-label.col-sm-2(for='o_t') Ownership Type*
            .col-sm-10
              select#o_t.form-control(ng-model='ownership_type', required='required')
                option Sole Owner
                option Partnership
                option Agent
          .form-group
            label.control-label.col-sm-2(for='price') Price*
            .col-sm-10
              input#price.form-control(type='text', ng-model='price', required='required')
          .form-group
            label.control-label.col-sm-2(for='price_type') Price Type
            .col-sm-10
              select#price_type.form-control(ng-model='price_type', required='required')
                option Daily
                option Weekly
          .form-group
            label.control-label.col-sm-2(for='area') Area*
            .col-sm-10
              input#area.form-control(type='text', ng-model='area', required='required')
          .form-group
            label.control-label.col-sm-2(for='area_unit') Area Unit*
            .col-sm-10
              select#area_unit.form-control(ng-model='area_unit', required='required')
                option Sq. m.
                option Sq. ft.
          h3 Location Details
          hr
          .form-group
            label.control-label.col-sm-2(for='address') Address
            .col-sm-10
              input#address.form-control(type='text', ng-model='full_address.address', required='required')
          .form-group
            label.control-label.col-sm-2(for='state') State
            .col-sm-10
              input#state.form-control(type='text', ng-model='full_address.state', required='required')
          .form-group
            label.control-label.col-sm-2(for='city') City
            .col-sm-10
              input#city.form-control(type='text', ng-model='full_address.city', required='required')
          .form-group
            label.control-label.col-sm-2(for='zipcode') Zipcode
            .col-sm-10
              input#zipcode.form-control(type='text', ng-model='full_address.zip_code', required='required')
          .form-group
            label.control-label.col-sm-2(for='g_l') Google Location
            .col-sm-10
              input#g_l.form-control(type='text', ng-model='full_address.google_location', required='required') 

          h3 Detailed Information
          hr
          .form-group
            label.control-label.col-sm-2(for='description') Desciprtion
            .col-sm-10
              textarea#description.form-control(rows='5', ng-model='description', required='required')
          .form-group
            label.control-label.col-sm-2(for='description', ng-model='other_features', required='required') Other Features
            .col-sm-10
              label.checkbox-inline
                li(ng-repeat='row in other_features')
                  label
                    input(type='checkbox', ng-model='row.selected')
                    | {{row.value}}
          h3 Contact Deials
          .form-group
            label.control-label.col-sm-2(for='name') Name
            .col-sm-10
              input#name.form-control(type='text', placeholder='Enter the name of contact person', ng-model='contact_details.name' , required='required')
          .form-group
            label.control-label.col-sm-2(for='email') Email:
            .col-sm-10
              input#email.form-control(type='email', placeholder='Enter email of contact person', ng-model='contact_details.email', required='required')
          .form-group
            label.control-label.col-sm-2(for='phone') Phone Number
            .col-sm-10
              input#phone.form-control(type='text', placeholder='Enter phone no. of contact person', ng-model='contact_details.phone', required='required')
          h3 Type of Advertisement
          .form-group
            .col-sm-offset-2.col-sm-10
              label.checkbox-inline
                li(ng-repeat='row in type_of_advertisement')
                  label
                    input(type='checkbox', ng-model='row.selected')
                    | {{row.value}}
          .form-group
            .col-sm-offset-2.col-sm-10
              button.btn.btn-danger(type='submit') Submit
      script(src='/javascripts/listing_angular_post.js')
   